*{
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100%;
    margin: 0;
    font-family: "Kanit";
}

h1, h2, h3 {
    color: white;
    text-align: center;
}

.topnav {
    background-color: #e19831;
    overflow: hidden;
}

.topnav a{
    float:left;
    color: #0a1e2e;
    text-align: center;
    padding: 14px 16px;
    font-size: 20px;
    font-variant: petite-caps;
    flex: auto;
}

.topnav a:hover {
    background-color: #e6b771;
}

.topnav a.active {
    background-color:white;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    margin: 15px 20px 15px 20px;
}

.bg-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
    background-color: rgb(0,0,0); 
    color: white;
    font-weight: bold;
    border: 10px solid #f1f1f1;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 850px;
    padding: 20px;
    text-align: center;
  }